In [65]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [66]:
tips['sex_str']=tips['sex'].astype(str)
print(tips.dtypes)
print('-----------')
tips['total_bill'] = tips['total_bill'].astype(str)
print(tips.dtypes)
print('-----------')
tips['total_bill'] = tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object
-----------
total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object
-----------
total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [49]:
tips_sub_miss=tips.head(10)
tips_sub_miss.loc[[1,3,5,7],'total_bill']='missing'
print(tips_sub_miss)
print('----------------')
print(tips_sub_miss.dtypes)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male
----------------
total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [50]:
# 오류
# tips_sub_miss['total_bill'].astype(float)
# pd.to_numeric(tips_sub_miss['total_bill'])

In [51]:
tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],
errors='ignore')
print(tips_sub_miss)
print('-----------------')
print(tips_sub_miss.dtypes)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male
-----------------
total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\judai\AppData\Local\Temp\ipykernel_10444\1530349155.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],

In [52]:
tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],
errors='coerce')
print(tips_sub_miss)
print('-------------------')
print(tips_sub_miss.dtypes)

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female
5         NaN  4.71    Male     No  Sun  Dinner     4    Male
6        8.77  2.00    Male     No  Sun  Dinner     2    Male
7         NaN  3.12    Male     No  Sun  Dinner     4    Male
8       15.04  1.96    Male     No  Sun  Dinner     2    Male
9       14.78  3.23    Male     No  Sun  Dinner     2    Male
-------------------
total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\judai\AppData\Local\Temp\ipykernel_10444\1633693373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],

In [53]:
tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],
errors='coerce', downcast='float')
print(tips_sub_miss)
print('---------------')
print(tips_sub_miss.dtypes)

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female
5         NaN  4.71    Male     No  Sun  Dinner     4    Male
6        8.77  2.00    Male     No  Sun  Dinner     2    Male
7         NaN  3.12    Male     No  Sun  Dinner     4    Male
8       15.04  1.96    Male     No  Sun  Dinner     2    Male
9       14.78  3.23    Male     No  Sun  Dinner     2    Male
---------------
total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\judai\AppData\Local\Temp\ipykernel_10444\2479801999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill']=pd.to_numeric(tips_sub_miss['total_bill'],

In [54]:
tips['sex']=tips['sex'].astype('str')
print(tips)
print('-------------')
print(tips.info())

     total_bill   tip     sex smoker   day    time  size sex_str
0         16.99  1.01  Female     No   Sun  Dinner     2  Female
1         10.34  1.66    Male     No   Sun  Dinner     3    Male
2         21.01  3.50    Male     No   Sun  Dinner     3    Male
3         23.68  3.31    Male     No   Sun  Dinner     2    Male
4         24.59  3.61  Female     No   Sun  Dinner     4  Female
..          ...   ...     ...    ...   ...     ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner     3    Male
240       27.18  2.00  Female    Yes   Sat  Dinner     2  Female
241       22.67  2.00    Male    Yes   Sat  Dinner     2    Male
242       17.82  1.75    Male     No   Sat  Dinner     2    Male
243       18.78  3.00  Female     No  Thur  Dinner     2  Female

[244 rows x 8 columns]
-------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None

In [55]:
tips['sex']=tips['sex'].astype('category')
print(tips)
print('------------------')
print(tips.info())

     total_bill   tip     sex smoker   day    time  size sex_str
0         16.99  1.01  Female     No   Sun  Dinner     2  Female
1         10.34  1.66    Male     No   Sun  Dinner     3    Male
2         21.01  3.50    Male     No   Sun  Dinner     3    Male
3         23.68  3.31    Male     No   Sun  Dinner     2    Male
4         24.59  3.61  Female     No   Sun  Dinner     4  Female
..          ...   ...     ...    ...   ...     ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner     3    Male
240       27.18  2.00  Female    Yes   Sat  Dinner     2  Female
241       22.67  2.00    Male    Yes   Sat  Dinner     2    Male
242       17.82  1.75    Male     No   Sat  Dinner     2    Male
243       18.78  3.00  Female     No  Thur  Dinner     2  Female

[244 rows x 8 columns]
------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB
None

In [56]:
menus = pd.Series([
    '김밥','김밥','떡라면','떡라면'
])

menus

0     김밥
1     김밥
2    떡라면
3    떡라면
dtype: object

In [57]:
import sys
menus.apply(sys.getsizeof)

0    78
1    78
2    80
3    80
dtype: int64

In [58]:
menus.memory_usage() # index=True

160

In [59]:
menus.memory_usage(index=False)

32

In [60]:
menus.memory_usage(deep=True)

476

In [61]:
# category
menus.astype('category').memory_usage(index=True, deep=True)

431

In [62]:
fruits = pd.Series([
    'apple'
    ,'orange'
    ,'apple'
    ,'orange'
    ,'apple'
    ,'orange'
    ,'apple'
    ,'orange'
])

fruits

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
dtype: object

In [63]:
fruits_cat.values

NameError: name 'fruits_cat' is not defined

In [ ]:
fruits_cat.values.categories

In [ ]:
fruits_cat.values.codes

In [67]:
'black Knight'.capitalize()

'Black knight'

In [68]:
"It's just a flesh wound!".count('u')

2

In [71]:
"Halt! Who goes there?".startswith('Halt')

True

In [73]:
"coconut".endswith('nut')

True

In [74]:
"It's just a flesh wound!".find('u')

6

In [77]:
"old woman".isalpha() # 문자열 내부가 알파벳으로만 이루어져 있는지 확인

False

In [110]:
"37".isdecimal() # 주어진 문자열이 숫자로 되어있는지 검사하는 함수

True

In [108]:
"37".isdigit()

True

In [109]:
"37".isnumeric()

True

In [79]:
"I'm 37".isalnum() # 문자열이 영어, 한글 혹은 숫자로 되어있으면 참 리턴

False

In [80]:
"Black Knight".lower()

'black knight'

In [81]:
"Black Knight".upper()

'BLACK KNIGHT'

In [82]:
"flesh wound!".replace('flesh wound', 'scratch')

'scratch!'

In [83]:
" I'm not dead. ".strip()

"I'm not dead."

In [95]:
"NI! NI! NI! NI!".split(sep=' ')

['NI!', 'NI!', 'NI!', 'NI!']

In [85]:
"3,4".partition(',')

('3', ',', '4')

In [102]:
"nine".center(5)

' nine'

In [98]:
"9".zfill(3)

'009'