In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
tips = sns.load_dataset('tips')
type(tips)

pandas.core.frame.DataFrame

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.shape

(244, 7)

In [6]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [9]:
menus = pd.Series([
    '김밥', '김밥', '떡라면','떡라면'
])
menus

0     김밥
1     김밥
2    떡라면
3    떡라면
dtype: object

In [10]:
import sys
menus.apply(sys.getsizeof)

0    78
1    78
2    80
3    80
dtype: int64

In [15]:
# object
menus.memory_usage(index=True, deep=True)

476

In [16]:
# category
menus.astype('category').memory_usage(index=True, deep=True)

431

In [18]:
fruits = pd.Series([
    'apple'
    ,'orange'
    ,'apple'
    ,'orange'
    ,'apple'
    ,'orange'
    ,'apple'
    ,'orange'
])
fruits

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
dtype: object

In [19]:
fruits_cat = fruits.astype('category')
fruits_cat

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
dtype: category
Categories (2, object): ['apple', 'orange']

In [20]:
fruits_cat.values

['apple', 'orange', 'apple', 'orange', 'apple', 'orange', 'apple', 'orange']
Categories (2, object): ['apple', 'orange']

In [21]:
fruits_cat.values.categories

Index(['apple', 'orange'], dtype='object')

In [22]:
fruits_cat.values.codes

array([0, 1, 0, 1, 0, 1, 0, 1], dtype=int8)