In [2]:
# 데이터 집계
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./doit_pandas-master/data/gapminder.tsv', sep='\t')

In [30]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [4]:
df['year']

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [5]:
df.year.unique() # => df['year'].unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007], dtype=int64)

In [6]:
df.groupby('year')

In [7]:
df.groupby('year').lifeExp # => df.groupby('year')['lifeExp']

In [8]:
# 연도별 기대수명 평균
df.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [9]:
y1952 = df.loc[df.year == 1952, :]
# y1952_mean = y1952.lifeExp.mean()
y1952_mean = df.loc[df.year == 1952, :].lifeExp.mean()
# df.loc[df.year == 1952, :]['lifeExp'].mean()
print(y1952.head())
print(y1952_mean)

# y1957 = df.loc[df.year == 1957, :]
# y1957_mean = y1957.lifeExp.mean()
y1957_mean = df.loc[df.year == 1957, :].lifeExp.mean()
print(y1957_mean)

# y1962 = df.loc[df.year == 1957, :]
# y1962_mean = y1962.lifeExp.mean()
y1962_mean = df.loc[df.year == 1957, :].lifeExp.mean()
print(y1962_mean)

# y2007 = df.loc[df.year == 2007, :]
# y2007_mean = y2007.lifeExp.mean()
y2007_mean = df.loc[df.year == 2007, :].lifeExp.mean()
print(y2007_mean)

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053
49.057619718309866
51.50740112676056
51.50740112676056
67.00742253521126

In [10]:
for year in df.year.unique():
    print(df.loc[df.year==year, :]['lifeExp'].mean())

49.057619718309866
51.50740112676056
53.609249014084504
55.678289577464795
57.64738647887324
59.57015746478874
61.53319718309859
63.21261267605633
64.16033802816901
65.01467605633802
65.69492253521126
67.00742253521126

In [29]:
[df.loc[df.year==year, :]['lifeExp'].mean() for year in df.year.unique()]

[49.057619718309866,
 51.50740112676056,
 53.609249014084504,
 55.678289577464795,
 57.64738647887324,
 59.57015746478874,
 61.53319718309859,
 63.21261267605633,
 64.16033802816901,
 65.01467605633802,
 65.69492253521126,
 67.00742253521126]

In [11]:
df.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [33]:
df2 = pd.DataFrame({"year":[1957, 1957, 1962, 2007],
                    "":[y1952_mean, y1957_mean, y1962_mean, y2007_mean]})

df2

   year
0  1957  49.057620
1  1957  51.507401
2  1962  51.507401
3  2007  67.007423

In [35]:
def my_mean(values):
    n = len(values)
    sum = 0
    for value in values:
        sum +=value
    return sum / n

df.groupby('year').lifeExp.agg(my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [36]:
def my_mean_diff(values,diff_value):
    n=len(values)
    sum = 0
    for value in values:
        sum+=value
    mean=sum/n
    return mean -diff_value

global_mean=df.lifeExp.mean()
print(global_mean)
print(df.groupby('year').lifeExp.agg(my_mean_diff, diff_value=global_mean))

59.474439366197174
year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

In [15]:
import numpy as np
gdf=df.groupby('year'). lifeExp.agg([np.count_nonzero, np.mean,np.std])
print(gdf)

gdf_dict=df.groupby('year').agg({'lifeExp':'mean','pop':'median','gdpPercap':'median'})
print(gdf_dict)

      count_nonzero       mean        std
year
1952            142  49.057620  12.225956
1957            142  51.507401  12.231286
1962            142  53.609249  12.097245
1967            142  55.678290  11.718858
1972            142  57.647386  11.381953
1977            142  59.570157  11.227229
1982            142  61.533197  10.770618
1987            142  63.212613  10.556285
1992            142  64.160338  11.227380
1997            142  65.014676  11.559439
2002            142  65.694923  12.279823
2007            142  67.007423  12.073021
        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334740
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371108

In [16]:
# 데이터 변환
def my_zscore(x):
    return (x - x.mean())/x.std()

transform_z=df.groupby('year').lifeExp.transform(my_zscore)
print(transform_z.head())
print(df.shape)
print(transform_z.shape)

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64
(1704, 6)
(1704,)

In [17]:
import seaborn as sns
import numpy as np

np.random.seed(42)
tips_10=sns.load_dataset('tips').sample(10)
tips_10.loc[np.random.permutation(tips_10.index)[:4], 'total_bill']=np.NaN
print(tips_10)
print('---------------------------------------------------------')
count_sex = tips_10.groupby('sex').count()
print(count_sex)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
---------------------------------------------------------
        total_bill  tip  smoker  day  time  size
sex
Male             4    7       7    7     7     7
Female           2    3       3    3     3     3

In [18]:
def fill_na_mean(x):
    avg=x.mean()
    return x.fillna(avg)

total_bill_group_mean=tips_10.groupby('sex').total_bill.transform(fill_na_mean)
tips_10['fill_total_bill']=total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

In [19]:
# 데이터 필터링
tips=sns.load_dataset('tips')
print(tips.shape)
print(tips['size'].value_counts())

(244, 7)
size
2    156
3     38
4     37
5      5
1      4
6      4
Name: count, dtype: int64

In [20]:
tips_filtered=tips.\
    groupby('size').\
    filter(lambda x: x['size'].count()>=30)

print(tips_filtered.shape)
print(tips_filtered['size'].value_counts())

(231, 7)
size
2    156
3     38
4     37
Name: count, dtype: int64

In [21]:
# 그룹 오브젝트
tips_10=sns.load_dataset('tips').sample(10,random_state=42)
print(tips_10)
print('---------------------------------------------------------')

grouped =tips_10.groupby('sex')
print(grouped)
print(grouped.groups)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
---------------------------------------------------------
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022D69AE93F0>
{'Male': [24, 6, 153, 211, 176, 192, 9], 'Female': [198, 124, 101]}

In [22]:
print(tips_10.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [23]:
female = grouped.get_group('Female')
print(female)

     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [24]:
for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

In [25]:
for sex_group in grouped:
    print('the type is: {}\n'.format(type(sex_group)))
    print('the length is: {}\n'.format(len(sex_group)))
    print('---------------------------------------------------')
    
    first_element = sex_group[0] 
    print('the first element is: {}\n'.format(first_element))
    print('it has a type of: {}\n'.format(type(sex_group[0])))
    print('---------------------------------------------------')

    second_element = sex_group[1] 
    print('the second element is:\n{}\n'.format(second_element))
    print('it has a type of: {}\n'.format(type(second_element)))
    print('---------------------------------------------------')

    print('what we have:') 
    print(sex_group)

    break

the type is: <class 'tuple'>

the length is: 2

---------------------------------------------------
the first element is: Male

it has a type of: <class 'str'>

---------------------------------------------------
the second element is:
     total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2

it has a type of: <class 'pandas.core.frame.DataFrame'>

---------------------------------------------------
what we have:
('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)