In [82]:
import glob

glob.glob('./*')

['.\\ch04.ipynb',
 '.\\ch05.ipynb',
 '.\\ch06.ipynb',
 '.\\ch07.ipynb',
 '.\\ch08.ipynb',
 '.\\class_extend.ipynb',
 '.\\data.csv',
 '.\\foo.txt',
 '.\\game',
 '.\\mod1.py',
 '.\\modtest.py',
 '.\\modules',
 '.\\notetest.ipynb',
 '.\\selftest.ipynb',
 '.\\selftest2.ipynb',
 '.\\selftest3.ipynb',
 '.\\selftest4.ipynb',
 '.\\sysy1.py',
 '.\\tab.test.tsv',
 '.\\test',
 '.\\test.csv',
 '.\\vartest.py',
 '.\\__pycache__',
 '.\\새파일.txt']

In [83]:
import glob

flist = glob.glob('./*')
for li in flist:
    print(li)
    # open()

.\ch04.ipynb
.\ch05.ipynb
.\ch06.ipynb
.\ch07.ipynb
.\ch08.ipynb
.\class_extend.ipynb
.\data.csv
.\foo.txt
.\game
.\mod1.py
.\modtest.py
.\modules
.\notetest.ipynb
.\selftest.ipynb
.\selftest2.ipynb
.\selftest3.ipynb
.\selftest4.ipynb
.\sysy1.py
.\tab.test.tsv
.\test
.\test.csv
.\vartest.py
.\__pycache__
.\새파일.txt

In [84]:
import time
time.time()

1681801109.1133175

In [85]:
# time.localtime(time.time()) X
t = time.localtime() # 현재 시간 추출해서 변환
time.localtime()

time.struct_time(tm_year=2023, tm_mon=4, tm_mday=18, tm_hour=15, tm_min=58, tm_sec=29, tm_wday=1, tm_yday=108, tm_isdst=0)

In [86]:
type(t)

time.struct_time

In [87]:
t.tm_year, t.tm_mon, t.tm_mday

(2023, 4, 18)

In [88]:
import datetime as dt
# package.module.function
a = dt.datetime.now()
a

datetime.datetime(2023, 4, 18, 15, 58, 29, 286644)

In [89]:
a.year, a.month, a.day, a.hour, a.minute, a.second

(2023, 4, 18, 15, 58, 29)

In [90]:
# time.strftime()
# time.strftime('%Y',time.localtime())
# time.strftime('%x',time.localtime())
# time.strftime('%w',time.localtime())
time.strftime('%j',time.localtime())

'108'

In [91]:
#import datetime
#ct = datetime.datetime.now()
#         패키지   모듈

import datetime as dt
ct = dt.datetime.now()
ct

# => datetime.datetime(2023, 4, 18, 14, 30, 28, 678894)
#      모듈    클래스

datetime.datetime(2023, 4, 18, 15, 58, 29, 393420)

In [92]:
dir(ct)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [93]:
# 요일 출력 : 월요일부터 시작
ct.weekday()

1

In [94]:
print(ct.weekday()) # 요일만 출력, 숫자로
print(ct.date()) # 날짜만 출력
print(ct.time()) # 시간만 출력

1
2023-04-18
15:58:29.393420

In [95]:
# ct.strftime('형식') # 멤버 메소드
# 형식 : %Y(연도4자리), %m(월2자리), %d(2자리일), %H(24시간), %M(분), %S(초)

In [96]:
ct.strftime('%Y-%m-%d %H:%M:%S')

'2023-04-18 15:58:29'

In [97]:
import time
for num in range(1,11):
    print(num)
    time.sleep(1) # 1초

1
2
3
4
5
6
7
8
9
10

In [98]:
import calendar
# print(calendar.calendar(2023))
print(calendar.prmonth(2023,5))

      May 2023
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
None

In [99]:
calendar.weekday(2023,5,5)

4

In [100]:
calendar.monthrange(2023,4)

(5, 30)

In [101]:
# time.asctime(t)
# time.ctime()

In [105]:
import random as r
# 0과 1사이에 실수를 랜덤하게 추출
r.random()

0.20484479201107486

In [106]:
# randint(a,b) : a~b 사이의 정수를 랜덤하게 추출
r.randint(1,45)

24

In [115]:
# 비복원 추출
import random

def random_pop(dataList):
    idx = random.randint(0,len(dataList)-1)
    return dataList.pop(idx)

In [118]:
data = [1,2,3,4,5]
while data:
    print(data)
    print(random_pop(data))

[1, 2, 3, 4, 5]
3
[1, 2, 4, 5]
2
[1, 4, 5]
5
[1, 4]
4
[1]
1

In [117]:
data

[]

In [114]:
# data = [1,2,4,5]
print(len(data))
idx = random.randint(0,len(data)-1)
# data[idx], idx
data.pop(idx), idx, len(data)

5

(3, 2, 4)

In [131]:
# choice() function : 선택
# dataList = [1,2,3,4,5]
def random_pop(dataList):
    number = random.choice(dataList) # 복원추출
    data.remove(number) # 삭제 => 비복원
    return number

data = list(range(1,46))
result = []
while data:
    result.append(random_pop(data))

result[:6]

[2, 44, 39, 13, 31, 36]

In [144]:
# random.seed(42)
lotto = range(1,10)
print(random.choice(lotto)) # 단일값 복원 추출
print(random.choices(lotto, k=6)) # 복원 추출
print(random.sample(lotto, k=6)) # 비복원 추출

3
[5, 9, 2, 4, 4, 5]
[2, 9, 1, 6, 4, 3]

In [145]:
import webbrowser as web
web.open("http://www.naver.com")

True

In [ ]:
import threading
import time

def say(msg):
    while True:
        time.sleep(1)
        print(msg)
# thread 3개 생성, 시작
for msg in ['you','need','python']:
    t = threading.Thread(target=say, args=(msg,))
    t.daemon = True
    t.start()

for i in range(100):
    time.sleep(0.1)
    print(i)

In [3]:
# Multeline option
import re
# ^ : 시작하고, \s : 공백, 탭, 다음줄, \w : 알파벳 숫자 => [a-zA-Z0-9] 
# python 시작하고 공백 알파벳숫자 1개이상 매칭
p = re.compile("^python\s\w+")
data = """python one
life is too short
python two
you need python
python three"""
print(p.findall(data))

['python one']

In [4]:
import re
p = re.compile("^python\s\w+", re.MULTILINE)

data = """python one
life is too short
python two
you need python
python three"""
print(p.findall(data))

['python one', 'python two', 'python three']

In [21]:
#      알파벳숫자1개이상
pat = '(\w+)\s+((\d+)[-]\d+[-]\d+)'
data = 'park 010-1234-1234' 
p = re.compile(pat)
m = p.search(data)
# m.group(1) + ' ' + m.group(2)
m.group(3)

'010'

In [23]:
p = re.compile(r'(\b\w+)\s+\1')
p.search('Paris in the the spring').group()

'the the'