In [1]:
print('Hello World!!!!')

Hello World!!!!

In [4]:
a = 1
print(type (a))

<class 'int'>

In [5]:
a = 1
type(a)

int

In [6]:
a = 1
print(type(a).__str__)

<slot wrapper '__str__' of 'object' objects>

In [ ]:
# 단축키 정리
# EDIT MODE
# 한글 주석 처리 : CTRL + /
# 여러줄 주석 처리 : """ 주석 표시 """
# 셀 실행
# - CTRL + ENTER  : 실행후 현재 셀 위치
# - SHIFT + ENTER : 실행후 아래에 셀이 없으면 생성 -> 이동, 셀이 있으면 이동만 한다.
# - ALT + ENTER   : 실행후 아래에 셀을 생성하고 이동

# 2. COMMAND MODE
# B : 아래에 셀 추가
# A : 위에 셀 추가
# C : 복사
# X : 잘라내기
# V : 붙이기
# DD : 셀 삭제
# SHIFT KEY + 화살표 위, 아래 : 다중 셀 선택

In [ ]:
# CELL MODE 
# 1. CODE MODE => 단축키 : Y
# 코딩 -> 실행
# 2. MARKDOWN MODE => 단축키 : M
# 설명 -> 실행X

$$\sqrt[n]{a}$$

$$
x+y=1
$$

$$
f(x)=ax^2+bx+c\\
g(x)=Ax^4
$$

|헤더1|헤더2|헤더3|
|-----|-----|-----|
|데이터1|데이터2|데이터3|
|데이터1|데이터2|데이터3|

In [24]:
if a > 1:
    print(a)
# 커맨드모드 + l => 라인표시

In [26]:
a = 'aaaa\naaaa\n'
print(a)

aaaa
aaaa

In [27]:
a = '''
aaaa
aaaaa
'''
print(a)

aaaa
aaaaa

In [28]:
a = '''
aaaa
aaaaa
'''
a

'\naaaa\naaaaa\n'

In [ ]:
def add(a,b):
    """_summary_
    함수는 더하기
    Args:
        a (_type_): _description_
        b (_type_): _description_
 
    Returns:
        _type_: _description_
    """


    return a+b

In [30]:
사과 = 120
print(사과)
#유니코드 지원으로 한글 안깨짐

120

In [40]:
print('='*15)
print('     연락처')
print('1 목록')
print('2 등록')
print('3 수정')
print('4 삭제')
print('5 종료')
print('='*15)

===============
     연락처
1 목록
2 등록
3 수정
4 삭제
5 종료
===============

In [3]:
number=10
day=3
'I ate {number} apples. so I was {day}'.format(number=5, day=3)

I ate 5 apples. so I was 5

In [4]:
number=10
day=3
print('I ate {number} apples. so I was {day}'.format(number=5, day=3))

I ate 5 apples. so I was 3

In [5]:
number=10
day=3
print(f'I ate {number} apples. so I was {day}')

I ate 10 apples. so I was 3

In [ ]:
a = 'hobby'
a.count('bb')

In [8]:
# 리스트 정리
# 여러개 아무거나(다) 저장, 묶는다
a = [1,2,'a',[1,2]]
print(a[3])

# 빈 list 생성
# a = []    # 기호
a = list()  # 생성자
print(type(a))

[1, 2]
<class 'list'>

In [1]:
# 1. 리스트의 인덱싱
a = [1,2,3]
print(a, type(a))

[1, 2, 3] <class 'list'>

In [2]:
print(a[0])

1

In [3]:
a[0]

1

In [4]:
a, a[-1]

([1, 2, 3], 3)

In [5]:
a[-2]

2

In [6]:
a = [1,2,3,['a','b','c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [7]:
a[-1]

['a', 'b', 'c']

In [8]:
a[-1][1]

'b'

In [9]:
a,a[-1],a[-1][1]

([1, 2, 3, ['a', 'b', 'c']], ['a', 'b', 'c'], 'b')

In [10]:
a[-1],a[3]

(['a', 'b', 'c'], ['a', 'b', 'c'])

In [11]:
# 리스트의 슬라이싱
a= [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [12]:
# 1,2 추출
a[0:2]

[1, 2]

In [16]:
b = a[:2] # 처음부터 2전까지 추출
c = a[2:] # 2부터
a, b, c

([1, 2, 3, 4, 5], [1, 2], [3, 4, 5])

In [20]:
# 중첩된 리스트에서 슬라이싱하기
a = [1,2,3,['a','b','c'],4,5]
# 'a','b' 추출
a, a[3], a[3][:2]

([1, 2, 3, ['a', 'b', 'c'], 4, 5], ['a', 'b', 'c'], ['a', 'b'])

In [25]:
a = [1,2,3]
'hi' + str(a[2])
# str()

'hi3'

In [26]:
# 리스트의 수정, 변경과 삭제
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [28]:
# 2. 리스트에서 연속된 범위의 값을 수정
a[1]=['a','b','c']
a

[1, ['a', 'b', 'c'], 4]

In [30]:
a = [1,2,4]
a

[1, 2, 4]

In [31]:
a[1:2]=['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [1]:
#page 58 code
s1 = set([1,2,3])
s1

{1, 2, 3}

In [3]:
l1 = list(s1)
l1

[1, 2, 3]

In [4]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [5]:
s1, l1, t1

({1, 2, 3}, [1, 2, 3], (1, 2, 3))

In [6]:
a = [1,1,1,2,2,3]
s2 = set(a)
s2

{1, 2, 3}

In [7]:
# 집합(set) 연산
# 데이터
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1, s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [9]:
# 교집합 : &
s1 & s2
# intersection) method
s1.intersection(s2)

{4, 5, 6}

In [11]:
# 합집합 : | , union()
s1 | s2, s1.union(s2)

({1, 2, 3, 4, 5, 6, 7, 8, 9}, {1, 2, 3, 4, 5, 6, 7, 8, 9})

In [12]:
# 차집합 : -, difference()
s1 - s2 , s2 - s1

({1, 2, 3}, {7, 8, 9})

In [18]:
# SET 관련 메소드
# 데이터
s1 = set([1,2,3])
# 1. add(value) : 추가
s1.add(4)
s1
# 2. update(iterable) : 여러개 추가
s1.update([5,6,7])
s1
# 3. remove(value) : 삭제
s1.remove(2)
s1

{1, 3, 4, 5, 6, 7}

In [19]:
a = [1,2,3,4]
for n in a:
    print(n)

1
2
3
4

In [21]:
# while 조건식: True
#    코드 반복
a = [1,2,3,4]
while a: # 리스트에 값이 있으면 True, 빈 리스트면 False
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]
[]

In [24]:
if [1,2,3] : # 조건식 자리에 값이 있으면 True, 없으면 False
    print('True')
else:
    print('False')

True

In [25]:
z = None # 아직 object가 할당되지 않았다. , NAN (numpy)
print(z)

None

In [33]:
type(1), type(3.4), type([]), type({}), type(())

(int, float, list, dict, tuple)

In [44]:
# 레퍼런스
import sys # sys 모듈(변수들, 함수들, 클래스들) => sys.py
c = 3
d = 3
sys.getrefcount(3)

1000000839

In [2]:
# range(start value, end value, step value)
# range(end), range~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# a = range(10) => range(0,10,1)
# a = range(1,10) => [1~~~9]
# 1 부터 10까지 합 => 변수 sum
sum = 0
a = range(1, 11)
for i in a:
    print(i, end=' ')
    sum += i # sum = sum + i

print(sum)

1 2 3 4 5 6 7 8 9 10 55

In [3]:
# 합격생 출력 : 번호 합격축하
# 내장함수 len() : iteralbe 의 길이 반환 => 5
# range(5) => 0 ,1 ,2 ,3 ,4
# number => index
# 점수
marks = [90,25,67,45,80] # 길이 5

for number in range(len(marks)):
    if marks[number] < 60:continue
    print('%d번 학생 축하' %(number+1))

1번 학생 축하
3번 학생 축하
5번 학생 축하

In [4]:
# enumerate(iterable) : (index, value) 튜플 형태로 반환

mark = [90,25,67,45,80]

for idx, mark in enumerate(marks):
    if marks[idx] < 60:continue
    print('%d 번 학생 축하'%(idx+1))

1 번 학생 축하
3 번 학생 축하
5 번 학생 축하

In [9]:
a = [1,2,3,4]
result = []

for num in a:
    print('num : ', num)
    result.append(num*3)
    print('result : ', result)

print(result)

num :  1
result :  [3]
num :  2
result :  [3, 6]
num :  3
result :  [3, 6, 9]
num :  4
result :  [3, 6, 9, 12]
[3, 6, 9, 12]

In [14]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [17]:
# 짝수만 *3 => []
a = [1,2,3,4]
[num*3 for num in a if num % 2 == 0]

[6, 12]

In [31]:
# function define
# 코딩 => 셀 실행 => 함수 실행되는 것이 아니라 정의되는 것이다.
# 모듈(파일) 실행될 때 name space 생성 => 이름 공간 
# => sum 함수명 등록되고 실행 가능하게 된다.
def sum(a,b):
    return a+b

In [32]:
sum(1,2)

3

In [33]:
sum((1,2),(3,4))

(1, 2, 3, 4)

In [35]:
sum('b','a')

'ba'

In [41]:
# 3.5 버전에서 어노테이션 적용
def sum(a:int,b:int)-> int:
    return a+b # 1 + 'a' error

In [42]:
sum(1,2)

3

In [47]:
# 4 정수의 합을 구하는 함수 정의
def add(a,b):
    return a+b

def add1(a,b,c,d):
    return a+b+c+d 

add(2,2), add1(1,2,3,5)

(4, 11)

In [50]:
def add2(*a): # a = (1,2,3,4,5)
    sum = 0
    for num in a:
        sum += num
    return sum

add2(1,2,3,4,5)

15

In [1]:
# choice = 더하기(sum), 곱하기(mul) 처리 함수 정의, 가변인자 사용
def sum_mul(choice, *args):
    if choice == 'sum': # 더하기
        result = 0
        for num in args:
            result += num
    elif choice == 'mul': # 곱하기
        result = 1
        for num in args:
            result *= num
    return result

In [59]:
sum_mul('sum',1,1,1,1)

4

In [62]:
sum_mul('mul',1,1,1,1)

1

In [6]:
def sum_and_mul(a,b):
    return [a+b, a*b]

In [7]:
sum_and_mul(2,3)

[5, 6]

In [8]:
# return : 함수 강제 종료
def say_nick(nick):
    if nick == '바보':
        return
    print('나의 별명은 %s 입니다.' % nick)

In [10]:
say_nick('천사')

나의 별명은 천사 입니다.

In [9]:
say_nick('바보')

In [13]:
def say_myself(name, man=True, old=1):
    print(name)
    print(old)
    if man:
        print('남자')
    else:
        print('여자')

In [14]:
say_myself('고길동')

고길동
1
남자

In [1]:
a = 123
print(a)

123

In [4]:
print('life'+'is'+'too')
print('life''is''too')
print('life','is','too') # 공백 추가

lifeistoo
lifeistoo
life is too

In [7]:
# 한 줄에 결과값 출력
for num in range(10):
    print(num, end=', ') # end parameter default value : \n
    # print('0\n') end = ', ' => print('0, ')
    # csv file format : camma sep value

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [3]:
# 파일 생성 => w mode
f = open('./새파일.txt', 'w') # open만 한것이다.
# ./(한개) 현재 디렉토리
# 파일 쓰기 코드 없다
f.close()

In [6]:
# open
f = open('./새파일.txt', 'w')
# 파일 쓰기
for num in range(1,11):
    # data = '{0}번째 줄입니다.\n'.format(num)
    data = f'{num}번째 줄입니다.\n'
    f.write(data)

# close
f.close()
#while True:
#    pass

In [13]:
# 파일 읽기 => mode r
# read method
# read() : 텍스트파일 전체를 한번에 읽는다. => return str
# readline() : 한줄 읽기 => return str
# readlines() : 여러줄 읽기 => return [str, str,,,,]
f = open('./새파일.txt','r') # object
lines = f.readlines()
for line in lines:
    print(line)

#print(lines)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [15]:
f = open('./새파일.txt','r') # object
lines = f.read()
print(lines)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [17]:
# 파일에 추가
f = open('./새파일.txt','a') # append mode
for num in range(31,41): # 31 ~ 40
    data = f'{num}번째 줄입니다.'
    f.write(data)

f.close

In [20]:
f = open('./foo.txt','w')
f.write('foohahahahaha')

with open('./foo.txt','w') as f:
    f.write('fohahahahaha2')
f.close()

In [21]:
f = open('./foo.txt','w')
f.write('foohahahahaha3\n')

with open('./foo.txt','w') as f:
    f.write('fohahahahaha4\n')
f.close()

In [ ]:
# 명령 인수 처리