In [4]:
for a in [1,2,3]:
    print(a)

1
2
3

In [5]:
i=0
while i<3:
    i=i+1
    print(i)

1
2
3

In [6]:
a=3
b=4
a**b

81

In [7]:
7%3

1

In [8]:
3%7

3

In [9]:
7/4

1.75

In [10]:
7//4

1

In [11]:
"I eat %d apples."% 3

'I eat 3 apples.'

In [12]:
"I eat %s apples."% "five"

'I eat five apples.'

In [13]:
number = 3
"I eat %d apples."% number

'I eat 3 apples.'

In [14]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days."% (number, day)

'I ate 10 apples. so I was sick for three days.'

In [15]:
"I have %s apples"% 3

'I have 3 apples'

In [16]:
"rate is %s"% 3.234

'rate is 3.234'

In [18]:
"%10s"% "hi"

'        hi'

In [19]:
"%-10sjane."% 'hi'

'hi        jane.'

In [20]:
"%0.4f"% 3.42134234

'3.4213'

In [21]:
"%10.4f"% 3.42134234

'    3.4213'

In [22]:
a = "hobby"
a.count('b')

2

In [23]:
a = "Python is best choice"
a.find('b')

10

In [24]:
a.find('k')
# -1 => 존재하지 않는다

-1

In [25]:
a = "Life is too short"
a.index('t')

8

In [27]:
a= ","
a.join('abcd')

'a,b,c,d'

In [28]:
a = "hi"
a.upper()

'HI'

In [29]:
a = "HI"
a.lower()

'hi'

In [30]:
a = " hi "
a.lstrip()

'hi '

In [32]:
a= " hi "
a.rstrip()

' hi'

In [33]:
a = " hi "
a.strip()

'hi'

In [35]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [36]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [37]:
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

In [38]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [40]:
"I eat {0} apples".format("five")

'I eat five apples'

In [39]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [ ]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

In [41]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [42]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [53]:
"{0:<10}".format("hi")

'hi        '

In [44]:
"{0:>10}".format("hi")

'        hi'

In [45]:
"{0:^10}".format("hi")

'    hi    '

In [46]:
"{0:=^10}".format("hi")

'====hi===='

In [47]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [48]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [49]:
"{0:10.4f}".format(y)

'    3.4213'

In [50]:
"{{ and }}".format()

'{ and }'

In [3]:
a = [1, 2, 3]
a

[1, 2, 3]

In [4]:
a[0]

1

In [5]:
a[0] + a[2]

4

In [6]:
a[-1]

3

In [7]:
a = [1, 2, 3, ['a', 'b', 'c']]
a[0]

1

In [8]:
a[-1]

['a', 'b', 'c']

In [9]:
a[3]

['a', 'b', 'c']

In [10]:
a[-1][0]

'a'

In [12]:
a[-1][1]

'b'

In [13]:
a[-1][2]

'c'

In [15]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

In [16]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [17]:
a = "12345"
a[0:2]

'12'

In [22]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b

[1, 2]

In [21]:
c

[3, 4, 5]

In [23]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [24]:
a[3][:2]

['a', 'b']

In [25]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [26]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [27]:
a = [1, 2, 3]
a[2] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
str(a[2]) + "hi"

'3hi'

In [29]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [30]:
a[1:2]

[2]

In [31]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 4]

In [33]:
a[1] = ['a', 'b', 'c']
a

[1, ['a', 'b', 'c'], 'b', 'c', 4]

In [34]:
a[1:3] = [ ]
a

[1, 'c', 4]

In [36]:
del a[1]
a

[1, 4]

In [37]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [38]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [39]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [40]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [41]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [43]:
a = [1,2,3]
a.index(3)

2

In [44]:
a.index(1)

0

In [45]:
a.index(0)

ValueError: 0 is not in list

In [47]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [48]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [54]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [55]:
a.remove(3)
a

[1, 2, 1, 2]

In [56]:
a = [1,2,3]
a.pop()

3

In [57]:
a

[1, 2]

In [58]:
a = [1,2,3]
a.pop(1)

2

In [59]:
a

[1, 3]

In [60]:
a = [1,2,3,1]
a.count(1)

2

In [61]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [62]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [64]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [65]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [66]:
t1[3]

'b'

In [67]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [68]:
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [69]:
t2 * 3

(3, 4, 3, 4, 3, 4)

In [70]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [72]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [74]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [76]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [80]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [81]:
grade['julliet']

99

In [82]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [84]:
a[2]

'b'

In [85]:
a = {'a':1, 'b':2}
a['a']

1

In [86]:
a['b']

2

In [87]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['name']

'pey'

In [88]:
dic['phone']

'0119993323'

In [89]:
dic['birth']

'1118'

In [90]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

In [91]:
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

In [92]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [94]:
list(a.keys())

['name', 'phone', 'birth']

In [96]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [97]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [99]:
a.clear()
a

{}

In [100]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.get('name')

'pey'

In [101]:
a.get('phone')

'0119993323'

In [105]:
a.get('nokey')

In [106]:
a['nokey']

KeyError: 'nokey'

In [107]:
a.get('foo', 'bar')

'bar'

In [109]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
'name' in a

True

In [111]:
'email' in a

False

In [112]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [113]:
s2 = set("Hello")

In [114]:
s2

{'H', 'e', 'l', 'o'}

In [115]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [116]:
l1[0]

1

In [118]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [119]:
t1[0]

1

In [121]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [122]:
s1.intersection(s2)

{4, 5, 6}

In [123]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [124]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [125]:
s1 -s2

{1, 2, 3}

In [126]:
s2 -s1

{7, 8, 9}

In [127]:
s1.difference(s2)

{1, 2, 3}

In [128]:
s2.difference(s1)

{7, 8, 9}

In [129]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [130]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [131]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [139]:
a = [1, 2, 3, 4]
while a:
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]
[]

In [140]:
if[ ]:
    print('True')
else:
    print('False')

False

In [141]:
if [1,2,3]:
    print('True')
else:
    print('False')

True

In [142]:
a = 1
b = "python"
c = [1,2,3]

In [143]:
type(3)

int

In [145]:
a = 3
b = 3
a is b

True

In [146]:
import sys
sys.getrefcount(3)

1000000912

In [149]:
a = 3
sys.getrefcount(3)

b = 3
sys.getrefcount(3)

c = 3
sys.getrefcount(3)

print(a)
print(b)
print(c)

3
3
3

In [ ]:
a, b = ('python', 'life')

In [ ]:
(a, b) = 'python', 'life'

In [ ]:
[a,b] = ['python', 'life']

In [150]:
a = b = 'python'

In [152]:
a = 3
b = 5 
a, b = b, a 
print(a)
print(b)

5
3

In [158]:
a = 3
b = 3
del(a)
del(b)

In [161]:
a = [1,2,3]
b = a
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [163]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [166]:
from copy import copy
b = copy(a)
b is a

False

In [169]:
money = 1
if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [173]:
x = 3
y = 2
x > y

True

In [174]:
x < y

False

In [175]:
x == y

False

In [176]:
x != y

True

In [179]:
money = 2000
if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [1]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [2]:
1 in[1, 2, 3]

True

In [3]:
1 not in[1, 2, 3]

False

In [4]:
'a' in('a', 'b', 'c')

True

In [5]:
'j' not in 'python'

True

In [6]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [10]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass 
else:
    print("카드를 꺼내라")

In [11]:
pocket = ['paper', 'handphone']
card = 1
if 'money' in pocket:
    print("택시를 타고가라")
else:
    if card:
        print("택시를 타고가라")
    else: 
        print("걸어가라")

택시를 타고가라

In [12]:
pocket = ['paper', 'cellphone']
card = 1
if 'money' in pocket:
    print("택시를 타고가라")
elif card:
    print("택시를 타고가라")
else:
    print("걸어가라")

택시를 타고가라

In [13]:
if 'money' in pocket:
    pass
else: 
    print("카드를 꺼내라")

카드를 꺼내라

In [15]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: pass
else: print("카드를 꺼내라")

In [16]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1 
    print("나무를%d번 찍었습니다."% treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를1번 찍었습니다.
나무를2번 찍었습니다.
나무를3번 찍었습니다.
나무를4번 찍었습니다.
나무를5번 찍었습니다.
나무를6번 찍었습니다.
나무를7번 찍었습니다.
나무를8번 찍었습니다.
나무를9번 찍었습니다.
나무를10번 찍었습니다.
나무 넘어갑니다.

In [18]:
prompt = """
1. Add
2. Del
3. List
4. Quit
Enter number: """

In [ ]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

In [23]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은%d개입니다."% coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
# coffee.py
coffee = 10
while True: 
    money = int(input("돈을 넣어 주세요: ")) 
    if money == 300: 
        print("커피를 줍니다.") 
        coffee = coffee -1 
    elif money > 300:
        print("거스름돈%d를 주고 커피를 줍니다."% (money -300)) 
        coffee = coffee -1 
    else: 
        print("돈을 다시 돌려주고 커피를 주지 않습니다.") 
        print("남은 커피의 양은%d개 입니다."% coffee) 
    if not coffee: 
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.") 
        break

In [25]:
a = 0
while a < 10:
    a = a+1
    if a % 2== 0: continue
    print(a)

1
3
5
7
9

In [ ]:
while True:
    print("Ctrl+C를 눌러야while문을 빠져나갈 수 있습니다.")

In [2]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [3]:
a = [(1,2), (3,4), (5,6)]
for(first, last) in a:
    print(first + last)

3
7
11

In [4]:
# marks1.py
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다."% number) 
    else: 
        print("%d번 학생은 불합격입니다."% number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [5]:
# marks2.py 
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks: 
    number = number +1 
    if mark < 60: continue 
    print("%d번 학생 축하합니다. 합격입니다. "% number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [6]:
a = range(10)
a

range(0, 10)

In [7]:
a = range(1, 11) 
a

range(1, 11)

In [8]:
sum = 0
for i in range(1, 11):
    sum = sum + i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
#marks3.py
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)): 
    if marks[number] < 60: continue 
    print("%d번 학생 축하합니다. 합격입니다."% (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [13]:
for i in range(2,10):
 for j in range(1, 10):
    print(i*j, end=" ")
    print('')

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [14]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
    print(result)

[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]

In [16]:
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [17]:
result = [num * 3 for num in a if num % 2== 0]
print(result)

[6, 12]

In [19]:
result = [x*y for x in range(2,10)
          for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [20]:
def sum(a, b):
    return a+b

In [21]:
a = 3
b = 4
c = sum(a, b)
print(c)

7

In [22]:
a = sum(3, 4)
print(a)

7

In [23]:
def say():
    return 'Hi'

In [25]:
a = say()
print(a)

Hi

In [26]:
def sum(a, b):
    print("%d, %d의 합은%d입니다."% (a, b, a+b))

In [27]:
sum(3, 4)

3, 4의 합은7입니다.

In [28]:
a = sum(3, 4)

3, 4의 합은7입니다.

In [30]:
print(a)

None

In [31]:
def say():
    print('Hi')

In [32]:
say()

Hi

In [41]:
def sum_many(*args):
 sum = 0
 for i in args:
    sum = sum + i
 return sum

In [42]:
result = sum_many(1,2,3)
print(result)

6

In [43]:
result = sum_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [45]:
def sum_mul(choice, *args):
 if choice == "sum":
    result = 0
    for i in args:
        result = result + i
 elif choice == "mul":
  result = 1
  for i in args:
    result = result * i
 return result

In [46]:
result = sum_mul('sum', 1,2,3,4,5)
print(result)

15

In [47]:
result = sum_mul('mul', 1,2,3,4,5)
print(result)

120

In [1]:
def sum_and_mul(a,b):
    return a+b, a*b

In [6]:
result = sum_and_mul(3,4)
result

7

In [9]:
sum, mul = sum_and_mul(3, 4)

7

In [4]:
def sum_and_mul(a,b):
    return a+b
    return a*b

In [10]:
result = sum_and_mul(2, 3)
print(result)

5

In [11]:
def sum_and_mul(a,b):
    return a+b

In [12]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은%s 입니다."% nick)

In [13]:
say_nick('야호')

나의 별명은야호 입니다.

In [14]:
say_nick('바보')

In [15]:
def say_myself(name, old, man=True): 
    print("나의 이름은%s 입니다."% name) 
    print("나이는%d살입니다."% old) 
    if man: 
        print("남자입니다.") 
    else: 
        print("여자입니다.")

In [16]:
say_myself("박응용", 27)

나의 이름은박응용 입니다.
나이는27살입니다.
남자입니다.

In [17]:
say_myself("박응용", 27, True)

나의 이름은박응용 입니다.
나이는27살입니다.
남자입니다.

In [18]:
say_myself("박응선", 27, False)

나의 이름은박응선 입니다.
나이는27살입니다.
여자입니다.

In [ ]:
def say_myself(name, man=True, old=1):
    print(name)
    print(old)
    if man:
        print('남자')
    else:
        print('여자')

나의 이름은박응선 입니다.
나이는27살입니다.
여자입니다.

In [27]:
# vartest.py
a = 1
def vartest(a): 
    a = a +1

vartest(a)
print(a)

1

In [1]:
def vartest(hello): 
    hello = hello + 1

In [2]:
# vartest_error.py
def vartest(a): 
    a = a + 1

vartest(3)
print(a)

NameError: name 'a' is not defined

In [3]:
# vartest_return.py
a = 1
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [6]:
# vartest_global.py
a = 1
def vartest():
    global a 
    a = a+1

vartest() 
print(a)

2

In [8]:
print("life" "is" "too short") # ①
print("life"+"is"+"too short") # ②
print("life", "is", "too short")

lifeistoo short
lifeistoo short
life is too short

In [10]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [16]:
f = open("새파일.txt", 'w')
f.close()

In [19]:
# writedata.py
f = open("./새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n"% i 
    f.write(data)
f.close()

In [21]:
# readline.py
f = open("./새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [23]:
# readline_all.py
f = open("./새파일.txt", 'r')
while True: 
    line = f.readline() 
    if not line: break 
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
while 1:
    data = input() 
    if not data: break 
    print(data)

In [25]:
f = open("./새파일.txt", 'r')
lines = f.readlines()
for line in lines: 
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [26]:
f = open("./새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [27]:
# adddata.py
f = open("./새파일.txt",'a')
for i in range(11, 20): 
    data = "%d번째 줄입니다.\n"% i 
    f.write(data)
f.close()

In [28]:
f = open("foo.txt", 'w')
f.write("Life is too short, you need python")
f.close()

with open("foo.txt", "w") as f: 
    f.write("Life is too short, you need python")

In [29]:
#sys1.py
import sys

args = sys.argv[1:]
for i in args: 
    print(i)

--ip=127.0.0.1
--stdin=9016
--control=9014
--hb=9013
--Session.signature_scheme="hmac-sha256"
--Session.key=b"de9adf07-fc71-4d1c-845f-64d9f8b3c688"
--shell=9015
--transport="tcp"
--iopub=9017
--f=c:\Users\judai\AppData\Roaming\jupyter\runtime\kernel-v2-143245eCyhLR2shng.json

In [30]:
#sys2.py
import sys 
args = sys.argv[1:]
for i in args: 
    print(i.upper(), end=' ')

--IP=127.0.0.1 --STDIN=9016 --CONTROL=9014 --HB=9013 --SESSION.SIGNATURE_SCHEME="HMAC-SHA256" --SESSION.KEY=B"DE9ADF07-FC71-4D1C-845F-64D9F8B3C688" --SHELL=9015 --TRANSPORT="TCP" --IOPUB=9017 --F=C:\USERS\JUDAI\APPDATA\ROAMING\JUPYTER\RUNTIME\KERNEL-V2-143245ECYHLR2SHNG.JSON