In [7]:
abs(3)
abs(-3)
abs(-1.2)

1.2

In [8]:
all([1,2,3])
all([1,2,3,0])
any([1,2,3,0])
any([0,""])
chr(97)
chr(48)

'0'

In [9]:
dir([1,2,3])
dir({'1':'a'})

divmod(7,3)
divmod(1.3,0.2)

(6.0, 0.09999999999999998)

In [10]:
for i, name in enumerate(['body', 'foo', 'bar']):
	print(i, name)

eval('1+2')
eval("'hi'+'a'")
eval('divmod(4,3)')

0 body
1 foo
2 bar

(1, 1)

In [11]:
#positive.py 
def positive(l): 
	result = [] 
	for i in l:
		if i > 0: 
			result.append(i) 
	return result
print(positive([1,-3,2,0,-5,6]))

#filter1.py
def positive(x): 
	return x > 0
print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]
[1, 2, 6]

In [12]:
hex(234)
hex(3)

a=3
id(3)
id(a)
b=a
id(b)
id(4)

2129261429072

In [13]:
a=input()
a
b=input("Enter: ")
b

''

In [25]:
int('3')
int(3.4)
int('11',2)
int('1A',16)

26

In [28]:
class Person: pass
a=Person()
isinstance(a,Person)

True

In [27]:
b=3
isinstance(b,Person)

False

In [15]:
sum = lambda a, b: a+b
sum(3,4)

def sum(a,b):
	return a+b

myList = [lambda a,b:a+b, lambda a,b:a*b]
myList
myList[0]
myList[0](3,4)
myList[1](3,4)

12

In [16]:
# 입력값 길이 리턴
len("python")
len([1,2,3])
len((1,'a'))

list("python")
list((1,2,3))

a=[1,2,3]
b=list(a)
b

[1, 2, 3]

In [17]:
# two_times.py
def two_times(numberList): 
	result = [ ] 
	for number in numberList:
		result.append(number*2) 
	return result

result = two_times([1, 2, 3, 4])
print(result)

def two_times(x): return x*2
list(map(two_times, [1, 2, 3, 4]))
# =>
list(map(lambda a: a*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

[2, 4, 6, 8]

In [18]:
# map_test.py
def plus_one(x): 
	return x+1
print(list(map(plus_one, [1, 2, 3, 4, 5])))


max([1,2,3])
max("python")

min([1,2,3])
min("python")

[2, 3, 4, 5, 6]

'h'

In [23]:
# 정수를 8진수 문자열로 변환해 리턴
oct(34)
oct(12345)

# f = open("binary_file","rb")
# fread = open("read_mode.txt",'r')
# fread2 = open("read_mode.txt")
# fappend = open("append_mode.txt",'a')

'0o30071'

In [20]:
#아스키코드 리턴
ord('a')
ord('0')

# x, y의 제곱값 리턴
pow(2,4)
pow(3,3)

27

In [21]:
# range([start], stop[step])은 for과 함께 자주 사용
# 입력 숫자에 해당 범위 값을 반복 가능한 객체로 리턴
# 인수 한개
list(range(5))
# 인수 두개
list(range(5,10))
# 인수 세개
list(range(1,10,2))
list(range(0,-10,-1))

sorted([3,1,2])
sorted(['a','b','c'])
sorted("zero")
sorted((3,2,1))

a = [3,1,2]
result = a.sort()
print(result)
print(a)

None
[1, 2, 3]

In [29]:
str(3)
str('hi')
str('hi'.upper())

tuple("abc")
tuple([1,2,3])
tuple([1,2,3])

type("abc")
type([])
type(open("test",'w'))

list(zip([1,2,3],[4,5,6]))
list(zip([1,2,3],[4,5,6],[7,8,9]))
list(zip("abc","def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]